audio {
border-radius: 0.5em;
position:fixed;
width:80%;
left:100px;
min-width:100px;
bottom:500px;
}


  audio::-webkit-media-controls-timeline {
    display: inline;
  }

  audio::-webkit-media-controls-current-time-display {
    display: flex;
  }

.background {

}



